@using Microsoft.AspNet.Identity
@{
                ViewBag.Title = "Кейсы CS:GO";
}
<div class="drop_history">
    <h1 class="drop">История дропа</h1>
    <div class="drop_item">
        <img class="drop_img" src="~/Content/img/512fx384f.png" />
        <div>
            <span class="item_name">Ауг хамелеон</span>
            <br />
            <span class="user_name">@User.Identity.GetUserName()</span>
        </div>
    </div>
</div>