@{
    ViewBag.Title = "Кейсы CS:GO";
}  
<div class="DropHistory">
    @{
        for(int i =0;i>0;++i)
        {
            <div class="DropHistory_item">
                <img class="weapon" src="~/Content/img/512fx384f.png" />
                <img class="case" src="@Url.Action("Image","Home",new { caseName=Count-i})" />
            </div>
        }
}

</div>