body {
    padding:0;
    margin:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.icon-bar{
    float:left !important;
}
.case {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100px;
    display:none;
    margin-left:-45px;
}
.DropHistory_item{
    position:relative;
    border:3px solid #ff0000;
}
.DropHistory_item:hover> .case{
    display:block;
}
.DropHistory{
    width:100%;
    height:100px;
    display:flex;
    background-color:gray;
    padding:5px 0 5px 5px;
}
.weapon {
    height: 100px;
}