@model WebApplication2.Models.Mult
@{
    ViewBag.Title = "Mult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mult</h2>
@using (Html.BeginForm("Mult", "My", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <button type="submit">Возвести в квадрат</button>
        <br />
        @if (Model.mas != null)
        {
            for (int i = 0; i < Model.rows; i++)
            {
                for (int j = 0; j < Model.col; j++)
                {
                    Model.mas[i][j] *= Model.mas[i][j];
                }
            }
        }
    </div>
}
